<footer class="mt-auto pt-3 footer">
	<div class="container">
		<div class="row justify-content-center">
			<span class="fa-stack">
				<i class="fas fa-square fa-stack-2x fa-inverse"></i>
				<i class="fab fa-twitter fa-stack-1x"></i>
			</span>
			<span class="fa-stack">
				<i class="fas fa-square fa-stack-2x fa-inverse"></i>
				<i class="fab fa-facebook-f fa-stack-1x"></i>
			</span>
			<span class="fa-stack">
				<i class="fas fa-square fa-stack-2x fa-inverse"></i>
				<i class="fab fa-github fa-stack-1x"></i>
			</span>
		</div>
		<div class="row justify-content-center text-white mt-3">
			<p><small>Website designed for educational purposes<br/>By the students of The Northcap University.</small></p>
		</div>
	</div>
</footer>
