{% extends 'base_landing.html' %}
{% block content %}
{% load static %}
<div class="d-flex align-items-center background-box">
	<div class="container text-white">
		<div class="row">
			<div class="col-12">
				<p class="display-2">SmartVote</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="card-text lead">We want to solve the problem with the existing voting model.<br/>So we developed an online voting system utilizing Blockchain to make it secure.</p>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12">
				<a href="#section2" class="btn btn-raised btn-secondary">Learn More</a>
 			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12">
				<button type="button" class="btn btn-raised btn-secondary" data-toggle="snackbar" data-style="snackbar" data-content="Next Elections in Bihar in Nov 2020" data-timeout="2000">Upcoming Elections</button>
			</div>
		</div>
	</div> 
</div>


<div class="container mt-5" id="section2">
	<div class="row">
		<div class="col-sm-12 col-md-4 mt-4">
			<div class="card py-2">
				<p class="card-img-top text-center"><i class="fas fa-address-card fa-7x"></i></p>
				<div class="card-body">
					<h5 class="card-title">Reliable</h5>
					<p class="card-text">Every vote is counted and cannot be changed, duplicated or removed.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mt-4">
			<div class="card py-2">
				<p class="card-img-top text-center"><i class="fas fa-user-shield fa-7x"></i></p>
				<div class="card-body">
					<h5 class="card-title">Secure</h5>
					<p class="card-text">This model avoids electoral fraud. The votes cannot be tampered with.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mt-4">
			<div class="card py-2">
				<p class="card-img-top text-center"><i class="fas fa-dollar-sign fa-7x"></i></p>
				<div class="card-body">
					<h5 class="card-title">Cost-Effective</h5>
					<p class="card-text">There is no need to arrange physical booths to hold elections. This will save a lot of time as well as money.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-4 mt-4">
			<div class="card py-2">
				<p class="card-img-top text-center"><i class="fas fa-user-secret fa-7x"></i></p>
				<div class="card-body">
					<h5 class="card-title">Anonymity</h5>
					<p class="card-text">The voter remains anonymous before and after the election. There is no link between the voters' identities and ballots.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mt-4">
			<div class="card py-2">
				<p class="card-img-top text-center"><i class="fas fa-check-double fa-7x"></i></p>
				<div class="card-body">
					<h5 class="card-title">Verifiable</h5>
					<p class="card-text">The system is verifiable to make sure all votes are counted correctly. After casting the vote, the voter can easily verify that their vote has been casted.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mt-4">
			<div class="card py-2">
				<p class="card-img-top text-center"><i class="fas fa-fast-forward fa-7x"></i></p>
				<div class="card-body">
					<h5 class="card-title">Easy to vote</h5>
					<p class="card-text">There is no need to stand in long queues at the voting booth. Voting can take place at the comfort of your home.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center mt-4">
		<div class="col-12">
			<a href="#section3"><i class="fas fa-chevron-down fa-3x"></i></a>
		</div>
	</div>
</div>


<div class="pb-5" style="background-color:#3A506B; " id="section3">
	<div class="container pt-5">
		<h2 class="text-center text-white">How it works</h2>

		<div class="row mt-3 align-items-center">
			<div class="col-6 col-md-2">
				<span class="fa-stack" style="font-size: calc(3vw + 3vh);">
					<i class="fas fa-circle fa-stack-2x fa-inverse img-responsive"></i>
					<i class="fas fa-user-plus fa-stack-1x img-responsive"></i>
				</span>
			</div>
			<div class="col-6 col-md-4 text-white">
				<p class="ml-3">Register yourself as a voter by providing your personal details. This is a necessary step for casting your vote for an election.</p>
			</div>
			<div class="d-none d-md-block col-1 text-white">
				<!--<i class="fas fa-level-down-alt fa-3x"></i>-->
				<i class="fas fa-share fa-3x fa-rotate-90"></i>
			</div>
		</div>

		<div class="row mt-3 justify-content-end align-items-center">
			<div class="d-none d-md-block col-1 text-white">
				<!--<i class="fas fa-level-down-alt fa-3x fa-flip-horizontal"></i>-->
				<i class="fas fa-reply fa-3x fa-rotate-270"></i>
			</div>
			<div class="col-6 col-md-4 text-white">
				<p>Log into your account during an ongoing election to cast your vote.</p>
			</div>
			<div class="col-6 col-md-2">
				<span class="fa-stack" style="font-size: calc(3vw + 3vh);">
					<i class="fas fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fas fa-user-check fa-stack-1x "></i>
				</span>
			</div>
		</div>

		<div class="row mt-3 align-items-center">
			<div class="col-6 col-md-2">
				<span class="fa-stack" style="font-size: calc(3vw + 3vh);">
					<i class="fas fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fas fa-poll fa-stack-1x "></i>
				</span>
			</div>
			<div class="col-6 col-md-4 text-white">
				<p class="ml-3">Click on the 'Vote' tab and enter your city and locality. Then select the candidate you want to vote for. Enter the OTP sent to your phone to finally cast your vote.</p>
			</div>
			<div class="d-none d-md-block col-1 text-white">
				<!--<i class="fas fa-level-down-alt fa-3x"></i>-->
				<i class="fas fa-share fa-3x fa-rotate-90"></i>
			</div>
		</div>

		<div class="row mt-3 justify-content-end align-items-center">
			<div class="col-6 col-md-4 text-white">
				<p>Click on the 'Verify Vote' tab to verify that your vote has been casted and counted.</p>
			</div>
			<div class="col-6 col-md-2">
				<span class="fa-stack" style="font-size: calc(3vw + 3vh);">
					<i class="fas fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fas fa-vote-yea fa-stack-1x"></i>
				</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}