{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-row wrapper">
	{% include 'sidebar.html' %}
	<div class="container-fluid flex-grow-1">
		<div class="row">
			<div class="col p-0">
				<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white mb-2">
					<div class="btn-group d-block d-md-none pl-2">
						<button class="btn bmd-btn-icon bmd-btn dropdown-toggle" type="button" id="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons">more_vert</i>
						</button>
						<div class="dropdown-menu dropdown-menu-left" aria-labelledby="menu">
							<a class="dropdown-item">Vote</a>
							<a class="dropdown-item">Verify Vote</a>
							<a class="dropdown-item" href="{% url 'partyInfo' %}">Party Information</a>
						</div>
					</div>
					<div class="ml-auto btn-group">
						<a class="btn dropdown-toggle" id="userAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.get_full_name }}</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userAccount">
							<a class="dropdown-item" href="#">Account</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="row pt-3">
			{% block homeContent %}
			{% endblock %}
		</div>
	</div>	

</div>





{% endblock %}